@font-face {
    font-family: 'good_sansregular';
    src: url('../fonts/goodsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/goodsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gt_sectrabook';
    src: url('../fonts/gtsectra-book-webfont.woff2') format('woff2'),
         url('../fonts/gtsectra-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0px;
	overflow: hidden;
    display: block;
    height: 100%;
    width: 100%;
    
     
}
body {font-size:100%;}
h1 {
    font-size:2.8em;
    margin: 0;
    font-weight: 500;
}
h2 {
    font-size:1.3em;
    font-weight: 100;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

p {
    font-size:0.875em;
    margin-block-start: 0.2em;
    margin-block-end: 1em;
}

.no-bar::-webkit-scrollbar {
    display:none;
}


#header {
    height: 3.6em;
    top: -0.5em;

    position:relative;
    width: 100%;
    
    border-bottom: 2px;
    border-color: black;
    border-bottom-style: solid;
    
}

#p_title {
    font-family: 'good_sansregular';
	width: 44%;
    height: 100%;
    position:relative;
    float:left;
    margin-left: 10px;
}
#info_button {
    font-family: 'good_sansregular';
    height:100%;
    position:relative;
    float: left;
    right: 20px;

    list-style-type: decimal;

    cursor:pointer;
}
#contact_button {
    font-family: 'good_sansregular';
    position:relative;
    height: 100%;
    float: right;

    margin-right: 10px;

    cursor:pointer;
}

.detail_box {
    display: none;
    position: absolute;
    top: 3.7em;
    z-index: 99;
    width: 100%;

    font-family: 'gt_sectrabook';

    background-color: white;

    border-bottom: 2px;
    border-color: black;
    border-bottom-style: solid;

    padding: 1em 1em 3em 1em;
    box-sizing: border-box;
}
.circle {
    display: none;
    width: 1.5em;
    height: 1.5em;
    background-color: black;
    -webkit-border-radius: 0.75em;

    position: absolute;
    top: 1.2em;
    left: -2em;
}


#main{
    position: relative;
    width: 100%;
    height: 92%;
    top: -0.5em;
}
#catalogue{
    position: relative;
    width: 43%;
    height: 100%;
    float:left;
    overflow: scroll;
    overflow-x: hidden;
}
#details{
    position: relative;
    width: 56%;
    height:100%;
    float:right;
    overflow: scroll;
    overflow-x: hidden;
}

.catalogur_item{
    padding-left: 1em;

    border-bottom: 2px;
    border-color: black;
    border-bottom-style: solid;
    width: 100%;
    overflow: hidden;
}

.ci_header{
    cursor:pointer;
    font-family: 'good_sansregular';
    position: relative;
    width: 100%;
    overflow: hidden;

    font-size: 0.8em;
}
.ci_tittle{
    position: relative;
    float: left;
    width: 70%;
}
.ci_type{
    position: relative;
    float: right;
    width: 30%;
}
.ci_body{
    font-family: 'gt_sectrabook';
    display: none;
}
.ci_description{
    width: 65%;
    float: left;
}
.ci_other{
    width: 30%;
    float: right;
    
}

.show{
    display: block !important;
}
.hide{
    display: none !important;
}

.details_content{
    font-family: 'gt_sectrabook';
    /* display: none;  */
    position: relative;
    width: 100%;
}
.details_content img{
    width: 100%;
}
.details_content video{
    width: 100%;
}

.details_content span{
    float: right;
    margin-right: 5px;

}
